language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

matrix:
  allow_failures:
    - php: 5.6

env:
  - MONGO_VERSION=1.2.12
  - MONGO_VERSION=1.3.2
  - MONGO_VERSION=1.3.7
  - MONGO_VERSION=1.4.5
  - MONGO_VERSION=1.5.1

services: mongodb

before_script:
  - yes '' | pecl -q install -f mongo-${MONGO_VERSION} && echo "extension=mongo.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  - composer install --dev --no-interaction --prefer-source
